body {
  background: linear-gradient(to right, #F2F4FF, #FBFCFF);
}

.main {
  background-color: #566CD6 !important;
  color: white !important;
}

.text {
  color: #40415E;
}

.text-placeholder {
  color: #8c9be4;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  border-radius: 16px !important;
}

.card {
  border: 0px solid !important;
}

.bar-search-back {
  position: relative;
}